Rec_U1/ej1.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name, address+, phone)>
<!ATTLIST student DNI NMTOKEN #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (street, number,city,province)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT  phone (#PCDATA)>

